
	<div class="btn-group" >
		<button  
				ng-repeat="p in parteien"
	   			ng-class="{ active: aktivePartei == p.id }" 
	   			ng-click="loadknappstesieger(p.id)" 
	   			type="button" 
	   			class="btn btn-primary">
	   		{{p.name}}
	   	</button>
	</div>


<table ng-table="knappstesiegertable" class="table" show-filter="true">
    <tr ng-repeat="ks in knappsteSiegerdata">
        <td title="'Vorname'" filter="{ vorname: 'text'}" sortable="'nachname'">
            {{ks.vorname}}</td>
        <td title="'Nachname'" filter="{ nachname: 'text'}" sortable="'nachname'">
            {{ks.nachname}}</td>
        <td title="'Differenz'" filter="{ diff: 'text'}" sortable="'diff'">
            {{ks.diff}}</td>
    </tr>
</table>