
<div class="container">
	<h1>W&W Wahlinformationssystem</h1>
	
	<br>
	In diesem Wahlinformationssystem haben Sie die Möglichkeit sich einerseits detailliert über die vergangegen Wahlen der Jahre 2009 und 2013 informieren. Die Granularität der gesuchten Information können Sie selbst entscheiden. Einerseits können Sie ein sehr übersichtliche Ergebnisse beziehen. Andererseits besteht aber auch die Möglichkeit bis auf Wahlkreisebene zu gehen und die Stimmen der einzelnen Kandidaten einsehen.
	<br>
	
	<div google-chart chart="sitzverteilungChart" style="height:600px; width:100%;"></div>

</div>